DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=troque-esta-chave
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DB_ENGINE=django.db.backends.postgresql
DB_NAME=poc_gestao
DB_USER=poc
DB_PASSWORD=poc
DB_HOST=127.0.0.1
DB_PORT=5433
